@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f6f3f4;
}

.text--center {
    text-align: center;
    align-items: center;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo-text {
    margin-left: 10px;
    font-weight: 500;
    font-size: 21px;
}

.header__link {
    display: flex;
    align-items: center;
}

.header__link {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(18, 16, 12, 0.7);
    margin-left: 40px;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.header__link:hover {
    color: #111;
}

.header__btn {
    background: #12100C;
    border-radius: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    border: none;
    padding: 5px 20px;
    color: #F9F9F9;
    box-shadow: 3px 4px 15px #ccc;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.header__btn:hover {
    background: rgb(48, 194, 238);
    color: #fff;
}

.container {
    padding: 50px 65px;
}


/* -------------------------------Section---------------------------------------------- */

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__title {
    font-weight: bold;
    font-size: 75px;
    line-height: 85px;
    color: #12100C;
}

.about__text {
    font-weight: normal;
    font-size: 23px;
    line-height: 32px;
    color: rgba(18, 16, 12, 0.7);
    margin-top: 30px;
}

.about__btn-card {
    display: flex;
    align-items: center;
    margin: 40px 0 15px 0;
}

.about__btn {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    border-radius: 16px;
    font-weight: 600;
    border: none;
    padding: 10px 35px;
    font-size: 17px;
    line-height: 22px;
    margin-right: 20px;
    background: #111;
    text-align: center;
    color: #fff;
    transition: .3s ease-in;
    -webkit-transition: .3s ease-in;
    -moz-transition: .3s ease-in;
    -ms-transition: .3s ease-in;
    -o-transition: .3s ease-in;
}

.about__btn:hover {
    background: rgb(48, 194, 238);
    color: #fff;
}

.about__btn-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(18, 16, 12, 0.7);
}

.about__img-card {
    width: 45%;
}

.about__img {
    width: 100%;
}

.about__icons i {
    margin-left: 10px;
    font-size: 20px;
}

.about__icons .fa-gitlab {
    color: #d52323;
}

.about__icons .fa-bitbucket {
    color: #17b4cf;
}


/* ----------------------------project------------------------------------------- */

.project {
    margin-top: 150px;
    width: 70%;
}

.project__title {
    font-size: 45px;
    line-height: 64px;
    color: #12100C;
}

.project__text {
    font-weight: normal;
    font-size: 44px;
    line-height: 55px;
    text-align: center;
    text-decoration-line: line-through;
    color: #999795;
}


/* ---------------------------environments------------------------------------ */

.environments {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 300px;
}

.environment__content {
    width: 55%;
    margin-right: 50px;
}

.environments__title {
    font-size: 32px;
    line-height: 40px;
    color: #12100C;
}

.environments__text {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: rgba(18, 16, 12, 0.7);
    margin: 10px 0 17% 0;
}

.environments__btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #12100C;
    padding: 7px 15px;
    background: #FFAE33;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    border-radius: 10.5px;
    border: none;
    margin-right: 5%;
}

.environments__btn.pink {
    background: rgba(255, 176, 174, 1);
}

.environments__img-card {
    width: 50%;
}

.environment__img {
    width: 100%;
}


/* ----------------------------------------------------------design-------------------------------------- */

.design {
    margin-top: 300px;
    width: 100%;
}

.design__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 40px;
    color: #12100C;
}

.design__img {
    width: 100%;
    height: 800px;
}

.design__text {
    margin: 40px 0;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: rgba(18, 16, 12, 0.7);
}

.design__btn-card {
    display: flex;
    justify-content: center;
}

.design__btn {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #12100C;
    padding: 7px 12px;
    background: #FFFFFF;
    box-shadow: 0px 0.5px 2px rgb(0 0 0 / 10%);
    border-radius: 9px;
    border: none;
    margin-right: 20px;
}

.fab.fa-chrome {
    margin-right: 10px;
    font-size: 20px;
    color: #e5a510;
}

.fab.fa-firefox-browser {
    color: orange;
    font-size: 20px;
    margin-right: 10px;
}


/* ---------------------------------------developers------------------------ */

.developers {
    margin-top: 150px;
    width: 100%;
}

.developers__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: #12100C;
    margin-bottom: 50px;
}

.developers__card-row {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    width: 100%;
    text-align: left;
}

.developers__card {
    width: 31%;
    max-width: 405px;
    min-width: 400px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 24px;
    margin-right: 2%;
    margin-bottom: 50px;
}

.developers__card-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #12100C;
    margin-bottom: 10px;
}

.developers__card-info {
    display: flex;
}

.developrers__card-img {
    /* width: 90px; */
    height: 65px;
}

.developers__img-text {
    margin-left: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #12100C;
}

.developers__img-text span {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #12100C;
}


/* @keyframes paris {
    from {
        transform: translateX(100%);
        width: 100%;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    to {
        transition: translateX(0%);
        width: 100%;
        -webkit-transition: translateX(0%);
        -moz-transition: translateX(0%);
        -ms-transition: translateX(0%);
        -o-transition: translateX(0%);
    }
} */


/* ---------------------logos----------------------------------------- */

.logos {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.logos__logo {
    width: 14%;
    padding: 10px 3%;
    margin-bottom: 35px;
}


/* ----------------------------------repository---------------------------- */

.repository {
    margin-top: 160px;
}

.repository__title {
    font-weight: bold;
    font-size: 52px;
    line-height: 72px;
    text-align: center;
    color: #12100C;
    margin-bottom: 50px;
}

.repository__row {
    display: flex;
    justify-content: space-evenly;
}

.repository__card {
    text-align: center;
    width: 45%;
    background: #fff;
    box-shadow: 3px 4px 15px #ccc;
    border-radius: 25px;
    padding: 50px;
}

.repository__card-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #12100C;
    margin-bottom: 10px;
}

.repository__card-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: rgba(18, 16, 12, 0.7);
    margin-bottom: 50px;
}

.repository__btns {
    margin-bottom: 50px;
}

.repository__btn {
    display: flex;
    align-items: center;
    margin: auto;
    background: #FC6D26;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    border-radius: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    padding: 11px 50px 14px 30px;
    margin-bottom: 20px;
}

.repository__btn .fab {
    color: #fff;
    font-size: 25px;
    margin-right: 19px;
}

.repository__btn.black {
    background: rgba(0, 0, 0, 1);
}

.repository__btn.blue {
    background: rgba(38, 132, 255, 1);
    padding: 11px 50px 14px 20px;
}

.repository__card-workspace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    background: #F9F9F9;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 14px 16px;
    box-shadow: 3px 4px 50px #ccc;
}

.workspace__img-card {
    display: flex;
    align-items: center;
    width: 50%;
}

.workspace__text {
    padding: 0 4%;
    font-weight: normal;
    font-size: 19px;
    line-height: 20px;
    color: rgba(18, 16, 12, 0.7);
}

.workspace__btn {
    background: #12100C;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 10%);
    border-radius: 12px;
    border: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 12px;
}